body {
  font-family: retiro-std-24pt, sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  font-style: normal;
  display: flex;
}

nav {
  background: #fff0db;
  width: 1400px;
  height: 50px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  border-bottom: 2px black;
}

.App {
  width: 100%;
  display: flex;
}

.link {
  font-family: retiro-std-24pt, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
  margin-bottom: 2em;
}

.page-title {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typetext {
  width: 10ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: gastromond, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff9ef;
  font-size: 8em;
  -webkit-text-stroke-color: #342105;
  -webkit-text-stroke-width: .5px;
  border-right: 1px solid;
  margin-bottom: 10%;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.alltour{
  max-width: 600px;
}
.tours-container {
  display:grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20vh;
  }

.tour {
  order: 0;
  align-self: auto;
  background-color: white;
  border: 1px solid #c4bea1;
  padding: 12px;
  border-radius: 12px;
  margin-right: 30px;
  
  }

  .timg {
    max-width: 200px;
  }

  .tourdivs {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 6px 19px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."
      ". ."
      ". ."; 
    align-content: space-around; 
    justify-items: stretch; 
    align-items: stretch; 
  }

  .guides-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5vh;
   }

.guide {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background-color: white;
  border: 1px solid #c4bea1;
  padding: 12px;
  border-radius: 12px;
  margin-right: 30px;
  text-align: center;
  font-family: kepler-std, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  }

  .gimg {
    max-width: 200px;
  }

  .sidebar {
    height: 500px;
    min-width: 12em;
    width: 28%;
    border: solid #4d584f 1px;
    background: #dccfbe;
    padding: 1em;
    margin-top: 2%;
    margin-left: .5%;
    margin-right: -100px;
    margin-bottom: .5%;
    text-align: center;
  }
  
  .sidebar > button {
    width: 100%;
    font-family: kepler-std, serif;
    font-weight: 300;
    font-style: normal;
    background-color:#4d584f;
    margin-bottom: 2%;
    text-align: center;
  }

  .review{
    background-color: #dccfbe;
    padding: 25px 50px;
    border-radius: 2em;
    border: solid #212065 1px;
    margin-top: 10%;

  }

  .reviews-container {
    max-width: 20em;
    margin: auto; 
    margin-left: 40em;
    margin-top: -540px;
    margin-right: -50px;
  }
  
  .reviews-container > div {
    border-bottom: solid 1px rgb(191, 159, 204);
    padding-bottom: 1em;
    min-width: 20em;
  }
  
  .reviews-container > div > button {
    min-width: 4em;
    padding-top: 1em;
  }

  form.new-review-form {
    border: solid black 1px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-family: retiro-std-24pt, sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  form.new-review-form > input,
  form.new-review-form > textarea {
    font-size: 1em;
    font-family: retiro-std-24pt, sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 1em;
    
  }
  
  input[type="submit"],
  button {
    font-weight: bold;
    font-size: 1em;
    background: #0a0943;
    border: solid rgb(227, 148, 170) 1px;
    padding: 0.5em;
    cursor: pointer;
    font-family: retiro-std-24pt, sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color:#4d584f;
    color:#fff0db;
    border-radius: 5em;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #5c4b69;
  }

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #dccfbe;
    }

  .headerphoto {
    width: 60%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
    padding: 10px;
  }

  .headertext {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    font-family: gastromond, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff9ef;
    font-size: 5em;
    -webkit-text-stroke-color: #342105;
    -webkit-text-stroke-width: .5px;
  }

